<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/static/main.css" />
    <link rel="stylesheet" href="/static/contact.css" />
  </head>
  <body>
    <header>
      <div class="header">
        <div>
          <a href="/"><img src="/static/logo.png" alt="logo" height="100" /></a>
        </div>
        <div class="links">
          <a href="/emosight" class="link">Why Emosight?</a>
          <a href="/contact" class="link">Contact Us</a>
        </div>
        <div class="icon">
          <button class="btn" type="submit"><a href="/login" style="color: black">Sign in</a></button>
          <button class="header-btn" type="button"> <a href="/signup" style="text-decoration: none; color: white;"> Get Started for free </a></button>
        </div>
      </div>
    </header>
    <section class="contact">
      <form action="">
        <div class="form">
          <h2>Contact Us</h2>
          <input type="text" name="name" placeholder="Name" class="custom-input"  />
          <input type="email" name="email" placeholder="Email" class="custom-input" />
          <textarea
            name="message"
            placeholder="Message"
            id=""
            cols="32"
            rows="7"
          ></textarea>
          <button class="btn-cont" type="submit">Send</button>
        </div>
      </form>
    </section>
  </body>
</html>
