<!DOCTYPE html>
<html>
  <head>

    <link rel="stylesheet" href="/static/dashboard.css" />
    <link rel="stylesheet" href="/static/main.css" />
  </head>
  <body>
    <header>
      <div class="header">
        <div>
        <a href="/dashboard"><img src="/static/logo.png" alt="logo" height="100" /></a>
        </div>
        <div class="icon">
          <button class="btn"><a href="/login">Sign out</a></button>
          <a href="/dashboard"><img src="/static/home.png" alt="logo" height="50" /></a>
        </div>
      </div>
    </header>
    <section class="emosight">
      <h1 >Dashboard</h1>
      <div class="dashboard">
        <a href="/upload" style="text-decoration: none; color: black;"><div class="box"><p>Upload CSV</p></div> </a>
      </div>
    </section>
  </body>
</html>
