<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/static/main.css" />
    <style>
        a {
            color: black !important;
        }
    </style>
    <link rel="stylesheet" href="../static/css/models.css">

</head>

<body>
    <header>
        <div class="header">
          <div>
          <a href="/dashboard"><img src="/static/logo.png" alt="logo" height="100" /></a>
          </div>
          <div class="icon">
            <button class="btn"><a href="/login">Sign out</a></button>
            <a href="/dashboard"><img src="/static/home.png" alt="logo" height="50" /></a>
          </div>
        </div>
      </header>
    <h1 style="text-align:center ;" >Please Download The File</h1>
    <br>
    <a class="chartupbutton" href="/static/file/results2.csv" download>Click here to Download file</a>

</body>

</html>