<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/static/main.css" />
  </head>
  <body>
    <header>
      <div class="header">
        <div>
          <a href="/"><img src="/static/logo.png" alt="logo" height="100" /></a>
        </div>
        <div class="links">
          <a href="/emosight" class="link">Why Emosight?</a>
          <a href="/contact" class="link">Contact Us</a>
        </div>
        <div class="icon">
          <button class="btn" type="submit"><a href="/login" style="color: black">Sign in</a></button>
          <button class="header-btn" type="button"> <a href="/signup" style="text-decoration: none; color: white;"> Get Started for free </a></button>
        </div>
      </div>
    </header>
    <section>
      <div class="emosight-why">
        <div>
          <h1>About Emosight</h1>
          <h2>What is a Sentiment Analysis?</h2>
          <p>
            Sentiment analysis is an automated method to determine the feelings or opinions
            expressed in a text. It's one of the most fascinating subfields in Natural Language
            Processing (NLP), a branch of AI that studies how robots process human language.
            Sentiment analysis is the study of subjective information in a statement, such as opinions,
            assessments, feelings, or attitudes about a topic, person, or institution. Positive, negative,
            and neutral expressions can all be classed. Consider the following scenario:
          </p>
          <p>
            “This website is so easy to use” → <span style="color: #049bff;">Positive</span><br>
            “I was able to log into my account” → <span style="color:#ffce56;"> Neutral</span><br>
            “I’m so annoyed with your website” →<span style="color:#ff6384;" >  Negative</span><br>
          </p>
          <h2>Fast, Accurate, and Easy to Use</h2>
          <p>Opinions have a lot of power; they may either help or hurt a company's reputation. 40% of
            purchasers acquire an opinion of a company after reading 1-3 internet reviews. Because of
            how quickly information spreads through internet platforms, it's critical to keep track of the
            attitudes surrounding online talks about your business. Trying to manually sift through a
            vast volume of data is nearly difficult if you want it done fast and affordably. It's feasible to
            discern the emotional tone in a document in real time, at scale, and accurately using AI
            techniques like sentiment analysis. Sentiment analysis technologies based on Natural
            Language Processing (NLP) allow you to gain useful insights into your brand. <b>Emosight</b> is<b>
            fast, accurate </b> and <b> easy </b>to use. Propel your business forward with the industry leading
            solution for Sentiment Analysis. </p>
            <p >
              Learn more about Emosight Sentiment Analysis Solution:
            </p>
            <ul style="margin-bottom: 5%;">
              <li>Understand what drives positive or negative customer experiences</li>
              <li>Inform ad campaign and content strategy based on what customers are talking
                about</li>
              <li>Quickly analyse products or services to find which are loved and which need
                improvement</li>
            </ul>
        </div>
      </div>
    </section>
  </body>
</html>
