<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/static/login.css" />
  </head>
  <body>
    <header>
      <div class="header">
        <div>
          <a href="/"><img src="/static/logo.png" alt="logo" height="100" /></a>
        </div>
        <div class="icon">
          <a href="/"> <img src="/static/home.png" alt="logo" height="50" /> </a>
        </div>
      </div>
    </header>
    <section class="login">
      <form action="user_signup" class="form-bg" method="POST">
        <div class="form">
          <div>
            <input type="email" name="email" placeholder="Email" class="custom-input" />
          </div>
          <div>
            <input 
            type="password" 
            name="password" 
            placeholder="Password" 
            class="custom-input"  
            required 
            pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" 
            title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" />
          </div>
          <div>
            <input
              type="password"
              name="confirm_password"
              placeholder="Re-type Password"
              class="custom-input"
            />
          </div>
        </div>
        <button class="btn" type="submit">Sign Up</button>
      </form>
    </section>
  </body>
</html>
