<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/static/main.css" />
    <link rel="stylesheet" href="/static/contact.css" />
    <script src="https://kit.fontawesome.com/4eb7531c74.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <header>
      <div class="header">
        <div>
          <a href="/"><img src="/static/logo.png" alt="logo" height="100" /></a>
        </div>
        <div class="links">
          <a href="/emosight" class="link">Why Emosight?</a>
          <a href="/contact" class="link">Contact Us</a>
        </div>
        <div class="icon">
          <button class="btn" type="submit"><a href="/login" style="color: black">Sign in</a></button>
          <button class="header-btn" type="button"> <a href="/signup" style="text-decoration: none; color: white;"> Get Started for free </a></button>
        </div>
      </div>
    </header>

    <section>
        <div style="display: flex;" >
            <i class="fa-solid fa-circle-check" style="padding-right: 1%;"></i>
            <p style="display:contents ;">Your Form Submitted Successfully!</p>

        </div>

    </section>

  </body>
</html>
