<!DOCTYPE html>
<html>

<head>
    <title>Users</title>
    <link rel="stylesheet" href="/static/main.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>


</head>


<body>
    <header>
        <div class="header">
          <div>
          <a href="/dashboard"><img src="/static/logo.png" alt="logo" height="100" /></a>
          </div>
          <div class="icon">
            <button class="btn"><a href="/login">Sign out</a></button>
            <a href="/dashboard"><img src="/static/home.png" alt="logo" height="50" /></a>
          </div>
        </div>
      </header>

    <div id="content">
        <form class="uploadfile" action="/datafile" method="POST" enctype="multipart/form-data">
            <input type="file" name="csvfile" id="csvfile">
            <div >
                <button class="upbutton" type="submit" onclick="$('#loading').show();">
                    Upload File
                </button>
            </div>
        </form>
        <div id="loading" style="display:none;"><img src="/static/loading.gif" width="100px" alt="" /></div>
    </div>

</body>
</html>