<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/static/login.css" />
  </head>
  <body>
    <header>
      <div class="header">
        <div>
          <a href="/"> <img src="/static/logo.png" alt="logo" height="100" /> </a>
        </div>
        <div class="icon">
          <a href="/"> <img src="/static/home.png" alt="logo" height="50" /> </a>
        </div>
      </div>
    </header>
    <section class="login">
        <div style="display: block;text-align:center; margin-top: 0.5%;">
            <p style="font-size:25px ; color:#ff6384;" > User already exists, Please login!! </p>
        </div><br>
        
    </section>
    <section class="userexist">
      <a href="/login"><button class="btnuser" type="button"> login </button></a>
    </section>
  </body>
</html>
